.drpdown-button, .drpdown-button:hover {
    background-color: darkseagreen;
    color: white;
}

.drpdown-item, .drpdown {
    background-color: darkseagreen;
    color: black;
}

.drpdown-item:hover {
    background-color: whitesmoke;
    color: black;
}
